<!DOCTYPE html>

    <head>
        {% block head %}

            <title>{% block title %}Amiga{% endblock %}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap -->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

            <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
            {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

        {% endblock head %}
    </head>

    <body>
        {% block body %}


            <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
            <script src="{{ asset('js/jquery.js') }}"></script>

            <!-- Include all JavaScripts, compiled by Assetic -->
            <script src="{{ asset('js/bootstrap.js') }}"></script>

            <div class="container">

                <nav class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Zubietxe</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav nav-pills">
                          <li class="active"><a href="#">Persona</a></li>
                          <li><a href="#">Seguimiento</a></li>
                          <li><a href="actividad">Actividad</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>


                {% block body_row %}
                {% endblock body_row %}

            </div>
        {% endblock body %}
    </body>
</html>