{% extends "ZubietxePrincipalBundle:Default:dos_columnas.html.twig" %}


    {% block title 'Amiga - Persona' %}

    {% block col_izda %}

    {% import "ZubietxePrincipalBundle:Default:macros.html.twig" as funciones %}

        <h3>Formulario persona: </h3>

        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#identificacion" role="tab" data-toggle="tab">Identificación</a></li>
            <li><a href="#juridico" role="tab" data-toggle="tab">Jurídico-Administrativa</a></li>
            <li><a href="#economico" role="tab" data-toggle="tab">Económica</a></li>
            <li><a href="#formativo" role="tab" data-toggle="tab">Formativa</a></li>
            <li><a href="#laboral" role="tab" data-toggle="tab">Ocupacional-laboral</a></li>
            <li><a href="#vivienda" role="tab" data-toggle="tab">Vivienda</a></li>
            <li><a href="#social" role="tab" data-toggle="tab">Apoyo social</a></li>
            <li><a href="#convivencia" role="tab" data-toggle="tab">Convivencia</a></li>
            <li><a href="#salud" role="tab" data-toggle="tab">Salud y autonomía</a></li>
            <li><a href="#competencias" role="tab" data-toggle="tab">Competencias</a></li>
            <li><a href="#aceptacion" role="tab" data-toggle="tab">Aceptación social</a></li>
            <li><a href="#participacion" role="tab" data-toggle="tab">Participación social</a></li>
            <li><a href="#intervencion" role="tab" data-toggle="tab">Intervención</a></li>
        </ul>

        {{ form(form, { 'style': 'horizontal' }) }}


    {% endblock col_izda %}

    {% block col_dcha %}
        <h2>Indice</h2>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
            <br><a href= '1024'>Alberto P.</a>
            <br><a href= '1061'>Nadia H.</a>
            <br><a href= '1032'>Noureddin M.</a>
            <br><a href='2774'>Mohamed F.</a>
            <br><a href='2883'>Samir R.</a>

    {% endblock col_dcha %}

